<configuration>

  <property name="HOME_LOG" value="logs/app.log"/>

  <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${HOME_LOG}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <!-- each archived file, size max 10MB -->
      <maxFileSize>10MB</maxFileSize>
      <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
      <totalSizeCap>20GB</totalSizeCap>
      <!-- 60 days to keep -->
      <maxHistory>60</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%d %p %c{1.} [%t] %m%n</pattern>
    </encoder>
  </appender>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
      </Pattern>
    </layout>
  </appender>

  <logger name="org.mongodb.driver.cluster" level="OFF"/>
  <logger name="org.mongodb.driver.connection" level="OFF"/>
  <logger name="org.mongodb.driver.protocol" level="OFF"/>
  <root level="debug">
    <appender-ref ref="FILE-ROLLING"/>
    <appender-ref ref="CONSOLE"/>
  </root>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
</configuration>