@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./ldbtn.scss";
@import "./loading.scss";

$primary-theme: #7B81FF;
$secondary-theme: #FFBB7B;
$secondary-dark-theme: #262867;
$text-red: #F24D4D;
$footer-color:#413f57;
$footer-text-color: rgb(183, 183, 192);
$footer-text-color-accent: rgb(230, 230, 230);

$theme-colors: (
"primary-theme": $primary-theme,
"secondary-theme": $secondary-theme,
"secondary-dark-theme": $secondary-dark-theme
);

// import fonts
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.App {
	font-family: 'Inter', sans-serif;
	background-color: $footer-color;
	min-height: 100vh;
}

.app {
	background-color: white;
	padding-bottom: 3.75rem;
}

.input-group-text {
	background-color: white;
}

.brand-subtext {
	color: $footer-color;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Raleway;
	font-weight: bold;
}

body {
	overflow-x: hidden;
}

.navbar-brand {
	font-family: Raleway;
	font-weight: bold;
	font-size: 2.25rem;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-custom {
	background: rgb(123,150,255);
	background: linear-gradient(35deg, rgba(123,150,255,1) 0%, rgba(123,129,255,1) 45%, rgba(154,100,255,1) 100%);
	color: white
}

.bg-gray {
	background-color: #e9ecef;
}

.background {
	background: #e8e9ff;;
};

.container-home-right {
	text-align: center;
}

@media screen and (max-width: 48.125rem) {
	.background {
		margin-left: 0 !important;
	};
}

@media screen and (max-width: 48.125rem) {
	.container-home-right {
		margin-right: 0 !important;
	};
}

.section {
	min-height: 100vh;
}

// Buttons

.btn-primary {
	color: white;
	background-color: $primary-theme;
	border-color: $primary-theme;
}

.loginButtonBackground {
	background: $primary-theme;
	border-color: $primary-theme;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: white; 
	background-color: #4B4F9A;
	border-color: #4B4F9A;
}

.btn-outline-primary {
	color: $primary-theme;
	background-color: white;
	border-color: $primary-theme;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:visited, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
	color: white;
	background-color: $primary-theme;
	border-color: $primary-theme;
}

.btn-secondary {
	color: #000000;
	background-color: $secondary-theme;
	border-color: $secondary-theme;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:visited, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
	color: #000000;
	background-color: #D79E68;
	border-color: #D79E68;
}

.btn-outline-secondary {
	border-color: $secondary-theme;
	color: #000000;
	background-color: white;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary:visited, .btn-outline-secondary.active, .open>.dropdown-toggle.btn-outline-secondary {
	color: #000000;
	background-color: $secondary-theme;
	border-color: $secondary-theme;
}

.coreValues,.btn-primary-theme {
	background: $primary-theme;
	border-color: $primary-theme;
}

.rectangle {
	width: 20rem;
	height: 15rem;
	background: $secondary-theme;
}

.m-signature-pad--body canvas{
	border: .0625rem solid $primary-theme !important;
	border-radius: .25rem;
}
// Landing
.textLanding {
	font-style: normal;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	color: #000000;
};

.uploadImg {
	display: block;
	position: relative;
	left: 25%;
	width: 50%;
};

.normalImage {
	display: block;
	position: relative;
	left: 35%;
	top: 10%;
	width: 30%;
};

td, th{
	text-align: center;
	vertical-align: middle;
}

thead {
	position: sticky;
}


#printTable {
	height: 18.75rem;
	overflow: auto;
}

.red-star {
	color: $text-red
}

.form-purple {
	border: 0.0625rem solid $primary-theme;
	border-radius: .35rem;
}

.form-red {
	border: 0.0625rem solid red;
	border-radius: 0;
}

.text-primary-theme {
	color: $primary-theme;
}

.seeTable {
	display: flex;
	flex-flow: column;
	width: 100%;
}

.seeTable thead {
	flex: 0 0 auto;
	background: #7B81FF;
}

.seeTable tbody {
	flex: 1 1 auto;
	height: 50rem;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

.seeTable tr {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.seeTable a {
	text-decoration: none;
	color: black;
}

.btn-assist {
	width: 21.25rem;
	height: 15rem;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

/* Feel free to change the background-color and border-color to fit your website's color scheme */
.btn-filestack {
	background-color: $primary-theme;
	border-color: $primary-theme;
	color: white;
}

.btn-filestack {
	color: white;
}

.btn-filestack:hover {
	color: rgb(229, 212, 255);
}

.btn-filestack:hover {
	//background-color: #330000;
	box-shadow: 0 0.125rem 0.125rem 0 rgba(256,256,256,0.24), 0 0.375rem 0.375rem 0 rgba(120,120,120,0.19);
}

.btn.btn-filestack:focus {
	color: #fff;
	outline: none;
}

.btn-widget, .btn-widget:active {
	font-size: 1rem;
	font-weight: 600;
	padding: 0.375rem 1.875rem 0.3125rem 2.5rem;
	height: 2.4rem;
	width: 15rem;
	background-repeat: no-repeat;
	line-height: 1.4375rem;
}

.footer-brand {
	filter: invert(45%) sepia(50%) saturate(1499%) hue-rotate(213deg) brightness(104%) contrast(101%);
	// outline-color: 
}

.footer-brand-logo{
	font-family: Raleway;
	color: $footer-text-color-accent;
	margin-top: .8rem;
	font-weight: bold;
	font-size: 2.25rem;
	line-height: 1.3525rem;
	text-align: left;
}

.custom-footer-color {
	padding-top: 2rem;
	background-color: $footer-color;
	color: $footer-text-color;
}

.list-social-icon {
	filter: invert(45%) sepia(50%) saturate(1499%) hue-rotate(213deg) brightness(104%) contrast(101%);
	width: 1.25rem;
	height: 1.25rem;
}

.footer-link {
	color: $footer-text-color;
}

.footer-link:hover {
	color: $footer-text-color-accent !important;
}

.footer-text-header{
	color: $footer-text-color-accent;
}

.member-card {
	width: 16vw;
	min-width: 16.75rem;
	border-color: $primary-theme;
	border-width: 0.0625 rem;
}

.partner-card {
	width: 30vw;
	min-width: 18.75rem;
}

.alert-provider-custom div div {
	background-color: $secondary-theme !important;
	color: black !important;
	border-radius: 1.5rem !important;

}

.alert-provider-custom span {
	text-transform: none;
}

.text-area-custom {
	min-height: 25vh;
}

.form-signin {
	width: 100%;
	max-width: 26.875rem;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 0.625rem;
	font-size: 1rem;
}

.recaptcha-login-text {
	font-size: 0.875rem;
	line-height: 150%;
}

.grecaptcha-badge { 
	visibility: hidden;
}

.home-svgs {
	width: 8.75rem;
	height: 8.75rem;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

@media screen and (max-width: 48.125rem) { // small screens
	.home-svgs {
		float: none !important;
		display: block !important;
		margin: 0 auto !important;
	};
}

.color-bold{
	color: $secondary-dark-theme
}

.home-text {
	margin: auto;
	font-size: large;
}

@media screen and (min-width: 62.5625rem) { // medium screens
	.brand-text {
		font-weight: bolder;
		font-size: calc(2rem + (12 * (100vw - 50rem)/ 624));
		line-height: 1.3;
	}
}

@media screen and (max-width: 62.5rem) { // large screens
	.brand-text {
		font-weight: bolder;
		font-size: 2rem;
		line-height: 1.3;
	}
}


@media screen and (max-width: 48.125rem) {
	.mobile-hide {
		display: none;
	}
}

.btn-dark-custom, .btn-dark-custom:hover{
	border-color: rgb(88, 28, 167);
	background-color: rgb(96, 41, 168);
	color: white;
	text-decoration: none;
	width: 8.75rem;
}

.btn-dark-custom:hover{
	border-color: rgb(88, 28, 167);
	background-color: rgb(88, 28, 167);
	color: white;
	text-decoration: none;
}

.home-form-svg {
	width: 100%;
	overflow: hidden;
	min-width: 18.75rem;
	max-width: 48.75rem;
	margin-left: 0rem;
	padding-left: 0rem;
}

.custom-vertical-center {
	display: flex;
	align-items: center;
}

.home-subtext {
	font-size: calc(1.25rem + (4 * (100vw - 12.5rem)/ 624));
}

.statistic-text {
	color: $secondary-dark-theme;
	font-size: calc(3rem + (16 * (100vw - 50rem)/ 624));
}

.statistic-subtext {
	color: $footer-color;
	font-size: calc(.9rem + (4 * (100vw - 13rem)/ 624));
}

.react-datepicker-wrapper { width: 100% }

.carousel-item {
	min-height: 23.125rem;
}

.ant-steps-item-active .ant-steps-item-container .ant-steps-item-content .ant-steps-item-title {
	font-weight: bold;
	color: $primary-theme !important;
}

.ant-steps-icon-dot {
	background: $primary-theme !important;
}

.ant-steps-item-finish .ant-steps-item-container .ant-steps-item-tail::after {
	background-color: $primary-theme !important;
}

.branch-card {
	border-color: white;
	border-width: .125rem;
	border-radius: .5rem;
	box-shadow: 0rem 0.4475rem 0.85rem 0rem rgba(0, 0, 0, 0.2); 
}

.branch-card:hover {
	border-color: $primary-theme;
	border-width: .125rem;
	border-radius: .5rem;
	box-shadow: 0rem 0.4475rem 0.85rem 0rem rgba(0, 0, 0, 0.2); 
}

.no-link-style {
	color: inherit;
	text-decoration: none;
}

.no-link-style:hover {
	color: inherit;
	text-decoration: none;
}