
// import bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./ldbtn.scss";
@import "./loading.scss";

$primary-theme: #7B81FF;
$secondary-theme: rgba(123, 130, 255, 0.12);
$secondary-dark-theme: #262867;
$text-red: #F24D4D;
$footer-color:#413f57;
$footer-text-color: rgb(183, 183, 192);
$footer-text-color-accent: rgb(230, 230, 230);

$theme-colors: (
"primary-theme": $primary-theme,
"secondary-theme": rgba(123, 130, 255, 0.12),
"secondary-dark-theme": #262867
);

// import open sans
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.App {
	font-family: 'Noto Sans', sans-serif;
	background-color: $footer-color;
	min-height: 100vh;
}

.app {
	background-color: white;
	padding-bottom: 3.75rem;
}

.input-group-text {
	background-color: white;
}

.navbar-brand {
	font-family: Raleway;
	font-weight: bold;
	font-size: 2.25rem;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-custom {
	background: rgb(123,150,255);
	background: linear-gradient(35deg, rgba(123,150,255,1) 0%, rgba(123,129,255,1) 45%, rgba(154,100,255,1) 100%);
	color: white
}

.bg-gray {
	background-color: #e9ecef;
}

.background {
	background: $secondary-theme;
};


@media screen and (max-width: 770px) {
	.background {
		margin-left: 0 !important;
	};
}


@media screen and (max-width: 770px) {
	.container-home-right {
		margin-right: 0 !important;
	};
}


.loginButtonBackground {
	background: $primary-theme;
	border-color: $primary-theme;
}

.rectangle {
	width: 21.25rem;
	height: 15rem;
	background: $secondary-theme;
}

// Landing

.textLanding {
	font-style: normal;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	color: #000000;
};

.uploadImg {
	display: block;
	position: relative;
	left: 25%;
	width: 50%;
};

.normalImage {
	display: block;
	position: relative;
	left: 35%;
	top: 10%;
	width: 30%;
};

td, th{
	text-align: center;
	vertical-align: middle;
}

thead {
	position: sticky;
}


#printTable {
	height: 18.75rem;
	overflow: auto;
}

.red-star {
	color: $text-red
}

.form-purple {
	border: 0.0625rem solid $primary-theme;
	border-radius: 0;
}

.seeTable {
	display: flex;
	flex-flow: column;
	width: 100%;
}

.seeTable thead {
	flex: 0 0 auto;
	background: #7B81FF;
}

.seeTable tbody {
	flex: 1 1 auto;
	height: 50rem;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

.seeTable tr {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.seeTable a {
	text-decoration: none;
	color: black;
}

.btn-assist {
	width: 21.25rem;
	height: 15rem;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

/* Feel free to change the background-color and border-color to fit your website's color scheme */
.btn-filestack {
	background-color: $primary-theme;
	border-color: $primary-theme;
	color: white;
}

.btn-filestack {
	color: white;
}

.btn-filestack:hover {
	color: rgb(229, 212, 255);
}

.btn-filestack:hover {
	//background-color: #330000;
	box-shadow: 0 0.125rem 0.125rem 0 rgba(256,256,256,0.24), 0 0.375rem 0.375rem 0 rgba(120,120,120,0.19);
}

.btn.btn-filestack:focus {
	color: #fff;
	outline: none;
}

.btn-widget, .btn-widget:active {
	font-size: 1rem;
	font-weight: 600;
	padding: 0.375rem 1.875rem 0.3125rem 2.5rem;
	height: 2.4rem;
	width: 15rem;
	background-repeat: no-repeat;
	line-height: 1.4375rem;
}

.footer-brand {
	filter: invert(45%) sepia(50%) saturate(1499%) hue-rotate(213deg) brightness(104%) contrast(101%);
	// outline-color: 
}

.footer-brand-logo{
	font-family: Raleway;
	color: $footer-text-color-accent;
	margin-top: .8rem;
	font-weight: bold;
	font-size: 2.25rem;
	line-height: 1.3525rem;
	text-align: left;
}

.custom-footer-color {
	padding-top: 2rem;
	background-color: $footer-color;
	color: $footer-text-color;
}

.list-social-icon {
	filter: invert(45%) sepia(50%) saturate(1499%) hue-rotate(213deg) brightness(104%) contrast(101%);
	width: 1.25rem;
	height: 1.25rem;
}

.footer-link {
	color: $footer-text-color;
}

.footer-link:hover {
	color: $footer-text-color-accent !important;
}

.footer-text-header{
	color: $footer-text-color-accent;
}

.member-card {
	width: 20vw;
}

.partner-card {
	width: 30vw;
}

.alert-provider-custom div div {
	background-color: $secondary-dark-theme !important;
}

.alert-provider-custom span {
	text-transform: none;
}

.text-area-custom {
	min-height: 25vh;
}

.form-signin {
	width: 100%;
	max-width: 430px;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.recaptcha-login-text {
	font-size: 14px;
	line-height: 150%;
}

.grecaptcha-badge { 
	visibility: hidden;
}

.home-svgs {
	width: 140px;
	height: 140px;
}

@media screen and (max-width: 770px) {
	.home-svgs {
		float: none !important;
		display: block !important;
		margin: 0 auto !important;
	};
}

.color-bold{
	color: $secondary-dark-theme
}

.home-text {
	margin:auto;
	font-size: large;
}

@media screen and (min-width: 1001px) {
	.brand-text {
		font-weight: bolder;
		font-size: 3.5rem;
		line-height: 1.3;
	}
}

@media screen and (max-width: 1000px) {
	.brand-text {
		font-weight: bolder;
		font-size: 2.5rem;
		line-height: 1.3;
	}
}


@media screen and (max-width: 770px) {
	.mobile-hide {
		display: none;
	}
}
