@import '../../../node_modules/bootstrap/scss/bootstrap';
@import './ldbtn.scss';
@import './loading.scss';
@import './Inputs';

// COLOR SYTEM
$primary-theme: #2f48c4;
$primary-theme-light: #e8e9ff;
$primary-theme-dark: #6029a8;
$secondary-theme: #413f57;
$secondary-theme-light: #fce3b1;
$secondary-theme-dark: #f9c784;
$secondary-dark-theme: #262867;
$text-red: #f24d4d;
$footer-color: #413f57;
$footer-text-color: #b7b7c0;
$footer-text-color-accent: rgb(230, 230, 230);
$theme-colors: (
'primary-theme': $primary-theme,
'secondary-theme': $secondary-theme,
'secondary-dark-theme': $secondary-dark-theme,
);
// import fonts
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.App {
	font-family: 'Inter', sans-serif;
	background-color: $footer-color;
	min-height: 100vh;
}

.app {
	background-color: white;
	padding-bottom: 3.75rem;
}

.input-group-text {
	background-color: white;
}

.brand-subtext {
	color: $footer-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Raleway;
	font-weight: 600 !important;
}

body {
	overflow-x: hidden;
}

.navbar-brand {
	font-family: Raleway;
	font-weight: bold;
	font-size: 2.25rem;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-custom {
	background: $primary-theme;
	color: $primary-theme-light;
}

.bg-gray {
	background-color: #e9ecef;
}

.background {
	background: #e8e9ff;
}

.border {
	border: 0.0625rem solid #262867 !important;
	border-radius: 0.625rem;
}

.container-home-right {
	text-align: center;
}

@media screen and (max-width: 48.125rem) {
	.background {
		margin-left: 0 !important;
	}
}

@media screen and (max-width: 48.125rem) {
	.container-home-right {
		margin-right: 0 !important;
	}
}

.progress-bar {
	background-color: $secondary-theme;
}

.section {
	min-height: 72vh;
}

.section1 {
	min-height: 60vh;
}

.section2 {
	min-height: 21vh;
}

// Buttons
.btn-primary {
	color: white;
	background-color: $primary-theme;
	border-color: $primary-theme;
	font-weight: bold;
}

.btn-primary-sixers {
	color: white;
	background-color: rgb(228, 13, 13);
	border-color: rgb(228, 13, 13);
	font-weight: bold;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: #2f48c4;
	background-color: white;
	border-color: white;
	width: auto;
}

.btn-primary-sixers:hover,
.btn-primary-sixers:focus,
.btn-primary-sixers:active,
.btn-primary-sixers:visited,
.btn-primary-sixers.active,
.open > .dropdown-toggle.btn-primary-sixers {
	color: rgb(228, 13, 13);
	background-color: white;
	border-color: white;
	width: auto;
}

.btn-outline-primary {
	color: $primary-theme;
	background-color: white;
	border-color: $primary-theme;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
	color: white;
	background-color: $primary-theme;
	border-color: $primary-theme;
}

.btn-secondary {
	color: #000000;
	background-color: white;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
	color: #000000;
	background-color: #d79e68;
	border-color: #d79e68;
}

.btn-outline-secondary {
	border-color: $secondary-theme;
	color: #000000;
	background-color: white;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary:visited,
.btn-outline-secondary.active,
.open > .dropdown-toggle.btn-outline-secondary {
	color: $primary-theme-light;
	background-color: $secondary-theme;
	border-color: $secondary-theme;
}

.coreValues,
.btn-primary-theme {
	background: $primary-theme;
	border-color: $primary-theme;
}

.rectangle {
	width: 20rem;
	height: 15rem;
	background: $primary-theme-light;
}

.m-signature-pad--body canvas {
	border: 0.0625rem solid $primary-theme !important;
	border-radius: 0.25rem;
}

// Landing
.textLanding {
	font-style: normal;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	color: #000000;
}

.uploadImg {
	display: block;
	position: relative;
	left: 25%;
	width: 50%;
}

.normalImage {
	display: block;
	position: relative;
	left: 35%;
	top: 10%;
	width: 30%;
}

td,
th {
	text-align: center;
	vertical-align: middle;
}

thead {
	position: sticky;
}

#printTable {
	height: 18.75rem;
	overflow: auto;
}

.red-star {
	color: $text-red;
}

// Form elements
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
	background-color: $primary-theme;
	border-radius: 0.25rem;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
	background-color: $primary-theme;
	border-color: $primary-theme;
}

.form-purple {
	border: 0.0625rem solid $primary-theme;
	border-radius: 0.35rem;
}

.form-red {
	border: 0.0625rem solid red;
	border-radius: 0;
}

.text-primary-theme {
	color: $primary-theme;
}

.seeTable {
	display: flex;
	flex-flow: column;
	width: 100%;
}

.seeTable thead {
	flex: 0 0 auto;
	background: #7b81ff;
}

.seeTable tbody {
	flex: 1 1 auto;
	height: 50rem;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

.seeTable tr {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.seeTable a {
	text-decoration: none;
	color: black;
}

.btn-assist {
	width: 21.25rem;
	height: 15rem;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

/* Feel free to change the background-color and border-color to fit your website's color scheme */

.btn-filestack {
	background-color: $primary-theme;
	border-color: $primary-theme;
	color: white;
}

.btn-filestack {
	color: white;
}

.btn-filestack:hover {
	color: rgb(229, 212, 255);
}

.btn-filestack:hover {
	//background-color: #330000;
	box-shadow: 0 0.125rem 0.125rem 0 rgba(256, 256, 256, 0.24),
	0 0.375rem 0.375rem 0 rgba(120, 120, 120, 0.19);
}

.btn.btn-filestack:focus {
	color: #fff;
	outline: none;
}

.btn-widget,
.btn-widget:active {
	font-size: 1rem;
	font-weight: 600;
	padding: 0.375rem 1.875rem 0.3125rem 2.5rem;
	height: 2.4rem;
	width: 15rem;
	background-repeat: no-repeat;
	line-height: 1.4375rem;
}

.footer-brand {
	filter: invert(45%) sepia(50%) saturate(1499%) hue-rotate(213deg)
	brightness(104%) contrast(101%);
	// outline-color:
}

.footer-brand-logo {
	font-family: Raleway;
	color: $footer-text-color-accent;
	margin-top: 0.8rem;
	font-weight: bold;
	font-size: 2.25rem;
	line-height: 1.3525rem;
	text-align: left;
}

.custom-footer-color {
	padding-top: 2rem;
	background-color: $footer-color;
	color: $footer-text-color;
}

.list-social-icon {
	filter: invert(45%) sepia(50%) saturate(1499%) hue-rotate(213deg)
	brightness(104%) contrast(101%);
	width: 1.25rem;
	height: 1.25rem;
}

.footer-link {
	color: $footer-text-color;
}

.footer-link:hover {
	color: $footer-text-color-accent !important;
}

.footer-text-header {
	color: $footer-text-color-accent;
}

.member-card {
	width: 14vw;
	min-width: 13.75rem;
	border-color: $primary-theme;
	border-width: 0.0625 rem;
}

.partner-card {
	width: 30vw;
	min-width: 18.75rem;
}

.alert-provider-custom div div {
	background-color: #f3f3f3 !important;
	color: #212529 !important;
	border-radius: 0.25rem !important;
	border-color: #b7b7c0 !important;
	border-style: solid !important;
	border-width: 0.125rem !important;
	min-width: 18.75rem !important;
	font-family: 'Inter', sans-serif !important;
	font-size: 1rem !important;
	width: 33vw !important;
}

.alert-provider-custom div div button svg {
	filter: invert(47%) sepia(13%) saturate(298%) hue-rotate(166deg)
	brightness(93%) contrast(91%) !important;
	// fill: #6C757D !important;
}

.alert-provider-custom span {
	text-transform: none;
}

.text-area-custom {
	min-height: 25vh;
}

.form-signin {
	width: 100%;
	max-width: 26.875rem;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 0.625rem;
	font-size: 1rem;
}

.recaptcha-login-text {
	font-size: 0.875rem;
	line-height: 150%;
}

.grecaptcha-badge {
	visibility: hidden;
}

.home-svgs {
	width: 8.75rem;
	height: 8.75rem;
}

.navbar-light .navbar-nav .nav-link {
	font-size: 1rem;
}

@media screen and (max-width: 48.125rem) {
	// small screens
	.home-svgs {
		float: none !important;
		display: block !important;
		margin: 0 auto !important;
	}
}

.color-bold {
	color: $secondary-dark-theme;
}

.home-text {
	margin: auto;
	font-size: large;
}

.brand-text {
	font-weight: bolder;
	font-size: calc(2.2rem + (9 * (100vw - 25rem) / 624));
	line-height: 1.3;
}

.btn-dark-custom,
.btn-dark-custom:hover {
	border-color: rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);
	color: #2f48c4;
	text-decoration: none;
	width: 6.75rem;
	margin-left: 1rem;
}

.btn-dark-custom:hover {
	border-color: rgb(88, 28, 167);
	background-color: rgb(88, 28, 167);
	color: white;
	text-decoration: none;
}

.btn-blue-custom,
.btn-blue-custom:hover {
	border-color: #2f48c4;
	background-color: #2f48c4;
	color: white;
	text-decoration: none;
	width: auto;
	display: inline;
	font-weight: bold;
}

.btn-white-blue-custom,
.btn-white-blue-custom:hover {
	border-color: #2f48c4;
	background-color: white;
	color: #2f48c4;
	text-decoration: none;
	width: auto;
	display: inline;
	font-weight: bold;
}

.btn-white-red-custom,
.btn-white-red-custom:hover {
	border-color: rgb(192, 3, 3);
	background-color: white;
	color: rgb(192, 3, 3);
	text-decoration: none;
	width: auto;
	display: inline;
	font-weight: bold;
}


.home-form-svg {
	width: 100%;
	overflow: hidden;
	min-width: 18.75rem;
	max-width: 48.75rem;
	margin-left: 0rem;
	padding-left: 0rem;
}

.custom-vertical-center {
	display: flex;
	align-items: center;
}

.home-subtext {
	font-size: calc(0.94rem + (4 * (100vw - 15rem) / 624));
}

.statistic-text {
	color: $secondary-dark-theme;
	font-size: calc(2.5rem + (16 * (100vw - 50rem) / 624));
}

.statistic-subtext {
	color: $footer-color;
	font-size: calc(0.8rem + (4 * (100vw - 13rem) / 624));
}

.react-datepicker-wrapper {
	width: 100%;
}

.carousel-item {
	min-height: 23.125rem;
}

.ant-steps-item-active
.ant-steps-item-container
.ant-steps-item-content
.ant-steps-item-title {
	font-weight: bold;
	color: $primary-theme !important;
}

.ant-steps-icon-dot {
	background: $primary-theme !important;
}

.ant-steps-item-finish .ant-steps-item-container .ant-steps-item-tail::after {
	background-color: $primary-theme !important;
}

.branch-card {
	border-color: white;
	border-width: 0.125rem;
	border-radius: 0.5rem;
	box-shadow: 0rem 0.4475rem 0.85rem 0rem rgba(0, 0, 0, 0.2);
}

.branch-card:hover {
	border-color: $primary-theme;
	border-width: 0.125rem;
	border-radius: 0.5rem;
	box-shadow: 0rem 0.4475rem 0.85rem 0rem rgba(0, 0, 0, 0.2);
}

.no-link-style {
	color: inherit;
	text-decoration: none;
}

.no-link-style:hover {
	color: inherit;
	text-decoration: none;
}

.pie-chart-dimensions {
	height: 40vh;
	width: 40vh;
	min-width: 12.5rem;
	min-height: 12.5rem;
}

.icon-svg {
	height: 1.5rem;
	width: 1.5rem;
}

.primary-color-border {
	border-color: $primary-theme;
	border-radius: 0.25rem;
	border-width: 0.0625rem;
}

@mixin scrollbars($size, $front-color, $back-color) {
	// For Google Chrome
	&::-webkit-scrollbar {
		width: $size;
		height: $size;
	}

	&::-webkit-scrollbar-thumb {
		background: $front-color;
	}

	&::-webkit-scrollbar-track {
		background: $back-color;
	}
	// For Internet Explorer
	& {
		scrollbar-face-color: $front-color;
		scrollbar-track-color: $back-color;
	}
}

div.scrollbar {
	@include scrollbars(0.75rem, $primary-theme, #ffffff);
}

.lead-medium {
	font-size: 1rem;
}

.profile-picture {
	width: 10vw;
	min-width: 10.5rem;
	border-radius: 0.25rem;
}

.modal-backdrop.fade {
	opacity: 0.25;
	filter: alpha(opacity=25);
}

.modal-backdrop.fade.in {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.row {
	margin-left: 0rem;
	margin-right: 0rem;
}

@media screen and (min-width: 48.125rem) {
	.partial-background {
		background: linear-gradient(90deg, $primary-theme 50%, white 50%);
		min-height: 5rem;
		min-width: #{'min(100vw, 31.25rem)'};
	}
}
@media screen and (max-width: 48.125rem) {
	.partial-background {
		background: $primary-theme;
		min-height: 5rem;
		min-width: #{'min(100vw, 31.25rem)'};
	}
}

.visualization-svg {
	width: 25rem;
	height: 25rem;
}

.outline-white {
	border-color: $primary-theme-light;
}

.home-paragraph-text {
	font-size: calc(0.94rem + (2 * (100vw - 15rem) / 624));
}

.statement-solidarity {
	background-color: $secondary-theme-light;
}

.search-bar-div {
	margin-left: 8rem;
	display: flex;
	justify-content: left;
}

.preview-button {
	color: rgb(68, 95, 235);
	font-weight: bolder;
}

// .search-bar, .upload-file
// {
// 	display: inline;
// }

// .btn-primary .icon {
// 	background: url(http://www.w3.org/2000/svg) no-repeat;
// 	float: left;
// 	width: 20px;
// 	height: 20px;
// 	margin-right: 10px
// }  

// .btn-blue-custom .icon {
// 	background: url(http://www.w3.org/2000/svg) no-repeat;
// 	float: left;
// 	width: 20px;
// 	height: 20px;
// 	margin-right: 10px
// }  

// .btn-white-blue-custom .icon {
// 	background: url(http://www.w3.org/2000/svg) no-repeat;
// 	float: left;
// 	width: 20px;
// 	height: 20px;
// 	margin-right: 10px
// } 

// .btn-white-red-custom .icon {
// 	background: url(http://www.w3.org/2000/svg) no-repeat;
// 	float: left;
// 	width: 20px;
// 	height: 20px;
// 	margin-right: 10px
// } 

// .btn-blue-custom .span {
// 	float: left;
// 	width: 20px;
// 	height: 20px;
// }  

// .three-buttons-plus-files-selected {
// 	margin-top: 40px;
// 	margin-left: 170px;
// 	display: flex;
// 	justify-content: left;
// }

// .download-button, .print-button, .delete-button
// {
// 	display: inline;
// }

// .print-button {
// 	margin-left: 30px;
// }

// .delete-button {
// 	margin-left: 30px;
// }

// .files-selected {
// 	margin-left: 30px;
// }

.double-button-jawn {
	display: flex;
	text-align: center;
	justify-content: center;
}

.search-pad {
	padding-left:150px;
	padding-top: 50px;
}
