.activities-card-container {
	border: 0.0625rem solid #D3D3D3;
	background-color: #F8F8F8;
	box-sizing: border-box;
	border-radius: 1.5%;
	margin-bottom: 1.5%;
	overflow: hidden;
};
  
#activities-card-title {
	float: left; 
	color: #6C757D; 
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 1.00rem;
	line-height: 1.00rem;
	padding: 0.75%;
};
  
#activities-card-date {
	float: right;
	color: #6C757D;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 1.00rem;
	line-height: 1.00rem;
	padding: 0.75%;
};