.activities-card-container {
	border: 0.0625rem solid #d3d3d3;
	background-color: #f8f8f8;
	box-sizing: border-box;
	border-radius: 1.5%;
	margin-bottom: 1.5%;
	overflow: hidden;
}

#activities-card-title {
	float: left;
	color: #6c757d;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1rem;
	padding: 0.75%;
}

#activities-card-date {
	float: right;
	color: #6c757d;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1rem;
	padding: 0.75%;
	margin-bottom: 0.25rem;
}
