.quick-access-card-container {
	display: flex;
	justify-content: space-around;
}

.quick-access-card {
	background: #ffffff;
	box-shadow: 0rem 0rem 1rem rgba(33, 37, 41, 0.15);
	border-radius: 0.625rem;
	min-width: 20%;
	margin-right: 1.75rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.quick-access-card:hover,
.quick-access-card:focus,
.quick-access-card:active {
	box-shadow: 0rem 0rem 2rem rgba(0, 0, 149, 0.35);
}

.quick-access-card-body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 1rem;
	color: black;
	text-align: center;
	text-decoration: none;
}

.quick-access-card-icon-container {
	padding: 1rem;
	display: flex;
}

.quick-access-card-icon {
	margin: 0 auto;
	width: 2.25rem;
}

.quick-access-card-title {
	margin: auto;
}
