.quick-access-card-container {
	display: flex;
	justify-content: space-around;
	border: .0625rem dashed #7B61FF;
	padding: .5rem;
}

.quick-access-card {
	background: #ffffff;
	box-shadow: 0rem 0rem 2rem rgba(33, 37, 41, 0.15);
	border-radius: 10px;
	//height: 132px;
	min-width: 20%;
	margin: 1rem;
}


.quick-access-card-body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 1rem;
	color: black;
	text-align: center;
	text-decoration: none;
}

.quick-access-card-icon-container {
	padding: 1rem;
	display: flex;
}

.quick-access-card-icon {
	margin: 0 auto;
	width: 2.25rem;
}

.quick-access-card-title {
	margin: auto;
}


.quick-access-view-body {

}
