version: '2.1'
orbs:
  node: circleci/node@4.1.1
  slack: circleci/slack@4.3.0
jobs:
  test:
    executor:
      name: node/default
      tag: '20.10'
    steps:
      - checkout
      - node/install-packages
      - run:
          command: |
            printf "Starting tests\n"
            CI=true npm run test -- --coverage=false --verbose --logHeapUsage
            printf "Tests completed\n"
      - slack/notify:
          event: fail
          template: basic_fail_1
      - slack/notify:
          event: pass
          template: basic_success_1
workflows:
  test_my_app:
    jobs:
      - test:
          context: Keep.id Slack
